project_id              = "deep-book-ocr"
region                  = "asia-northeast1"
tfstate_location        = "ASIA-NORTHEAST1"
github_repository       = "yantzn/deep-book-ocr"
github_repository_owner = "yantzn"
rotation_key            = "v1"

enable_firestore        = true
firestore_location      = "asia-northeast1"
